<div id="<%= dom_id entry %>">
  <p>
    <strong>Number of items:</strong>
    <%= entry.number_of_items %>
  </p>

  <p>
    <strong>Po number:</strong>
    <%= entry.po_number %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= entry.item %>
  </p>

  <p>
    <strong>Po date:</strong>
    <%= entry.po_date %>
  </p>

  <p>
    <strong>Invoice date:</strong>
    <%= entry.invoice_date %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= entry.serial_number %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= entry.cost %>
  </p>

  <p>
    <strong>Client acronym:</strong>
    <%= entry.client_acronym %>
  </p>

  <p>
    <strong>Install date:</strong>
    <%= entry.install_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= entry.notes %>
  </p>

</div>
