<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>

    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</p>
      </div>

      <div class="message-body">
        <ul>
          <% entry.errors.full_messages.each do |mesage| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number_of_items, class: "label" %>
    <%= form.number_field :number_of_items, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :po_number, class: "label" %>
    <%= form.number_field :po_number, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :item, class: "label" %>
    <%= form.text_field :item, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :po_date, class: "label" %>
    <%= form.date_field :po_date, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :invoice_date, class: "label" %>
    <%= form.date_field :invoice_date, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :serial_number, class: "label" %>
    <%= form.number_field :serial_number, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :cost, class: "label" %>
    <%= form.number_field :cost, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :client_acronym, class: "label" %>
    <%= form.text_field :client_acronym, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :install_date, class: "label" %>
    <%= form.date_field :install_date, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :notes, class: "label" %>
    <%= form.text_field :notes, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
