<section class="hero is-primary is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
        <%= link_to "/entries", class: "navbar-item" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>inventory</title><g fill="none"><path d="M20 2H4c-1 0-2 .9-2 2v3.01c0 .72.43 1.34 1 1.69V20c0 1.1 1.1 2 2 2h14c.9 0 2-.9 2-2V8.7c.57-.35 1-.97 1-1.69V4c0-1.1-1-2-2-2zm-5 12H9v-2h6v2zm5-7H4V4l16-.02V7z" fill="#ffffff"></path></g></svg>
          <span class="has-text-weight-bold is-size-4 ml-4">Hardware Inventory</span>
        <% end %>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to "Sign Up", "/signup", class: "button is-success" %>
            <%= link_to "Create new entry", new_entry_path, class: "button is-success" %>
            <%= link_to "Inventory", "/entries", class: "button is-success" %>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <% if content_for(:title) %>
          <%= yield :title %>
        <% else %>
          PCC Hardware Inventory
        <% end %>
      </h1>
    </div>
  </div>

</section>